<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="author" content="{{ $.Param "author" }}">
    <meta name="description" content="{{ $.Param "description" }}">
    <link rel="stylesheet" href="{{ "css/styles.min.css" | relURL }}"/>
  </head>
  <body>

{{ with .Site.GetPage "/" }}{{ .Content }}{{ end }}

<nav class="sidebar-nav">
    {{ $currentPage := . }}
    {{ $taxoTerm := $currentPage.Data.Term }}
    {{ $postTerm := .Params.tags }}
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}" title="{{ .Title }}">
      {{ if and (eq $currentPage.Kind "taxonomy") (eq .Identifier $taxoTerm) }} &dot; {{ end }} 
      {{ if and (eq $currentPage.Kind "page") (eq .Identifier $postTerm) }} &larr; {{ end }} 
      {{ .Name }}
    </a>
    {{ end }}
</nav>

<ul>
  {{ range .Data.Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }} | {{ .Title }}</a>
      {{ .Params.tags }}
    </li>
  {{ end }}
</ul>